{% extends 'index.html' %}

{%block mostrar%}

    <table class="table table-striped">
        <tr>
          <td> <strong> NOMBRE </strong> </td>
          <td> <strong> PREPARACION </strong> </td>
          <td> <strong> FOTO </strong> </td>
        </tr>
        {% for Receta in receta_unica %}
        <tr>
            <td> {{ Receta.nombre }} </td>
            <td> {{ Receta.preparación }} </td>
            <td> <img width = "80" height = "80"src = "/{{ Receta.foto }}"/> </td>
        </tr>
        {% endfor %}
    </table>

{%endblock%}